body{
	font-family:"sans-serif";
}

li{
	list-style:none;
	float:left;
}
a{
	text-decoration: none;
}
.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
header{
	height:30px;
  	width:100%;
  	background-color:#B0E0E6;
  	position: fixed;
}
.header-user{
	float:right;
	line-height: 30px
}

.header-out{
	float:right;
	line-height: 30px
}
.header-out a{
	padding-right:25px;
  	padding-left:25px;
  	color:red;
}

.title-container{
	width:500px;
	margin:0 auto;
}
.page-title h1{
	font-size:50px;
	font-weight: bold;
	text-align:center;
	padding-top: 80px
}
.back a{
	color:blue;
	text-decoration:underline;
	padding-left: 100px;
}
.back{
	width:200px;
	margin-top: 50px;
}
.detail-container{
	width:600px;
	margin:0 auto;
	padding-top: 50px;
	font-weight: bold;